.button {
    display: inline-block;
    border-radius: 43px;
    background-color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    padding: 1.5rem 5rem;
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    transition: background-color 0.2s linear;
    &:hover,
    &:focus {
        background-color: rgba(255, 255, 255, 1);
    }
}
