.site-header {
    &--wrapper {
        .site-menu {
            &--wrapper {
                .lang-item {
                    text-transform: capitalize;
                }
            }
        }
    }
}
