.site-header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(3px);
    direction: ltr;
    z-index: 99999;
    &--wrapper {
        padding: 3rem;
        .site-menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &--logo {
                a {
                    display: flex;
                    align-items: flex-end;
                    text-decoration: none;
                    font-family: $mouse-font;
                    font-size: 6rem;
                    .image-wrapper {
                        width: 4.5rem;
                        height: 4.5rem;
                        svg {
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            &--wrapper {
                display: flex;
                align-items: center;
                gap: 2rem;
                .polylang-lang-switcher {
                    ul {
                        padding: 0;
                        margin: 0;
                        list-style: none;
                    }
                    .lang-item {
                        text-transform: capitalize;
                        background-color: #b7bbc2;
                        // padding: 1.5rem 1.5rem;
                        border-radius: 50%;
                        transition: background-color 0.2s linear;
                        overflow: hidden;
                        &:has(a:hover) {
                            background-color: grey;
                        }
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 1.6rem;
                            font-weight: 600;
                            color: #000;
                            text-decoration: none;
                            width: 4.5rem;
                            height: 4.5rem;
                            transition: color 0.2s linear;
                            &:hover,
                            &:focus {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}
