html:has(body.page-template-about-template),
body.page-template-about-template,
body.page-template-about-template main {
    height: 100%;
}
.page-template-about-template {
    .about {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 184px);
        width: 100%;
        z-index: 1;
        &--wrapper {
            padding: 0 2rem;
            height: 100%;
        }
        .glassbox {
            position: absolute;
            left: 12.5%;
            border-radius: 55px;
            backdrop-filter: blur(4px);
            transition:
                width 0.2s linear,
                height 0.2s linear;
            &--wrapper {
                position: relative;
                display: flex;
                // grid-template-columns: 2fr 2fr;
                align-items: stretch;
                height: 100%;
                z-index: 1;
                & > div {
                    flex: 50%;
                }
            }
            &:after {
                content: "";
                position: absolute;
                inset: 0;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(60, 93, 184, 0.06) 100%);
                box-shadow: 0 22px 39.2px 0 rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(2px);
                border-radius: 55px;
                pointer-events: none;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: url(../images/glow.png);
                background-repeat: no-repeat;
                background-size: contain;
                opacity: 0.55;
                width: 100%;
                height: 100%;
                mix-blend-mode: soft-light;
                animation: randomMovement 40s infinite alternate;
                pointer-events: none;
                -webkit-user-drag: none;
                z-index: 1;
            }
            &-content {
                position: relative;
                height: 100%;
                padding: 5rem 0 3.5rem 13rem;
                &:before {
                    content: "";
                    position: absolute;
                    top: 10%;
                    left: 10%;
                    width: 2px;
                    height: 80%;
                    background: linear-gradient(to bottom, #00ddf4 0%, #003363 100%);
                }
                h1 {
                    font-family: $mouse-font;
                    font-size: 17rem;
                    font-weight: 300;
                    white-space: nowrap;
                    margin: 0 0 4rem;
                    position: relative;
                    z-index: 2;
                }
                h2 {
                    font-size: 5.6rem;
                    font-weight: 400;
                    margin: 0 0 3rem;
                }
                .about-text {
                    font-size: 1.9rem;
                    font-weight: 400;
                    line-height: 25px;
                }
            }
            &-videos {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                // height: 100%;
                .image-wrapper {
                    // width: 100%;
                    // height: 100%;
                    grid-row: 3;
                    grid-column: 2;
                    position: relative;
                    overflow: hidden;
                    // border-radius: 16px;
                    &:nth-child(2) {
                        grid-row: 2;
                        grid-column: 3;
                    }
                    &:last-child {
                        grid-row: 1;
                    }
                    img {
                        display: inline-block;
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: inherit;
                        position: relative;
                        z-index: 1;
                    }
                }
            }
        }
    }
}

@keyframes randomMovement {
    0% {
        top: 0;
        left: -60%;
    }
    30% {
        top: 50%;
    }
    80% {
        top: 30%;
    }
    100% {
        top: -40%;
        left: 70%;
    }
}
