/* Omer Regular */
@font-face {
  font-family: "Omer";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Omer/omer-Regular.otf") format("opentype");
}
/* Noto Sans - Regular styles */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-Black.ttf") format("truetype");
}
/* Noto Sans - Italic styles */
@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/NotoSans/NotoSans-SemiBoldItalic.ttf") format("truetype");
}
/* Montserrat - Regular styles */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
}
.button {
  display: inline-block;
  border-radius: 43px;
  background-color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  padding: 1.5rem 5rem;
  color: #000;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  transition: background-color 0.2s linear;
}
.button:hover, .button:focus {
  background-color: rgb(255, 255, 255);
}

.site-footer--bottom-line {
  text-align: center;
  font-size: 1.4rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
@media only screen and (min-width: 1024px) and (max-width: 1399px) {
  html {
    font-size: 8px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1700px) {
  html {
    font-size: 9px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: #0f2848;
  color: #fff;
  overflow-x: hidden;
}
body.home {
  position: relative;
}

main {
  margin: 0;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .container {
    max-width: 100%;
    margin: 0;
  }
}
.container.wide {
  max-width: 140rem;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  color: #fff;
  font-weight: 700;
}

h1,
.h1 {
  font-size: 3.4rem;
}

h2,
.h2 {
  font-size: 2.5rem;
}

h3,
.h3 {
  font-size: 2rem;
}

h4,
.h4 {
  font-size: 1.8rem;
}

section {
  position: relative;
}

a {
  color: #fff;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: underline;
}
a:hover, a:focus {
  text-decoration: none;
}

.decorative-image {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.hidden-content {
  display: none;
}

@media (max-width: 1023px) {
  .desktop {
    display: none !important;
  }
}

.mobile {
  display: none;
}
@media (max-width: 1023px) {
  .mobile {
    display: initial;
  }
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 2rem 0;
}
.video-container:after {
  padding-top: 56.25%;
  display: block;
  content: "";
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.site-header {
  position: sticky;
  top: 0;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  direction: ltr;
  z-index: 99999;
}
.site-header--wrapper {
  padding: 3rem;
}
.site-header--wrapper .site-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header--wrapper .site-menu--logo a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  font-family: "Omer", sans-serif;
  font-size: 6rem;
}
.site-header--wrapper .site-menu--logo a .image-wrapper {
  width: 4.5rem;
  height: 4.5rem;
}
.site-header--wrapper .site-menu--logo a .image-wrapper svg {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.site-header--wrapper .site-menu--wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.site-header--wrapper .site-menu--wrapper .polylang-lang-switcher ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-header--wrapper .site-menu--wrapper .polylang-lang-switcher .lang-item {
  text-transform: capitalize;
  background-color: #b7bbc2;
  border-radius: 50%;
  transition: background-color 0.2s linear;
  overflow: hidden;
}
.site-header--wrapper .site-menu--wrapper .polylang-lang-switcher .lang-item:has(a:hover) {
  background-color: grey;
}
.site-header--wrapper .site-menu--wrapper .polylang-lang-switcher .lang-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  width: 4.5rem;
  height: 4.5rem;
  transition: color 0.2s linear;
}
.site-header--wrapper .site-menu--wrapper .polylang-lang-switcher .lang-item a:hover, .site-header--wrapper .site-menu--wrapper .polylang-lang-switcher .lang-item a:focus {
  color: #fff;
}

@property --a {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@property --c1 {
  syntax: "<color>";
  initial-value: #0a0a0f;
  inherits: false;
}
@property --c2 {
  syntax: "<color>";
  initial-value: #0069cc;
  inherits: false;
}
@property --p1 {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}
@property --p2 {
  syntax: "<percentage>";
  initial-value: 100%;
  inherits: false;
}
.page-template-about-template .about {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 184px);
  width: 100%;
  z-index: 1;
}
.page-template-about-template .about--wrapper {
  padding: 0 2rem;
  height: 100%;
}
.page-template-about-template .about .glassbox {
  position: absolute;
  left: 12.5%;
  border-radius: 55px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  transition: width 0.2s linear, height 0.2s linear;
}
.page-template-about-template .about .glassbox--wrapper {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 100%;
  z-index: 1;
}
.page-template-about-template .about .glassbox--wrapper > div {
  flex: 50%;
}
.page-template-about-template .about .glassbox:after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(60, 93, 184, 0.06) 100%);
  box-shadow: 0 22px 39.2px 0 rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 55px;
  pointer-events: none;
}
.page-template-about-template .about .glassbox:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../images/glow.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.55;
  width: 100%;
  height: 100%;
  mix-blend-mode: soft-light;
  animation: randomMovement 40s infinite alternate;
  pointer-events: none;
  -webkit-user-drag: none;
  z-index: 1;
}
.page-template-about-template .about .glassbox-content {
  position: relative;
  height: 100%;
  padding: 5rem 0 3.5rem 13rem;
}
.page-template-about-template .about .glassbox-content:before {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  width: 2px;
  height: 80%;
  background: linear-gradient(to bottom, #00ddf4 0%, #003363 100%);
}
.page-template-about-template .about .glassbox-content h1 {
  font-family: "Omer", sans-serif;
  font-size: 17rem;
  font-weight: 300;
  white-space: nowrap;
  margin: 0 0 4rem;
  position: relative;
  z-index: 2;
}
.page-template-about-template .about .glassbox-content h2 {
  font-size: 5.6rem;
  font-weight: 400;
  margin: 0 0 3rem;
}
.page-template-about-template .about .glassbox-content .about-text {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 25px;
}
.page-template-about-template .about .glassbox-videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.page-template-about-template .about .glassbox-videos .image-wrapper {
  grid-row: 3;
  grid-column: 2;
  position: relative;
  overflow: hidden;
}
.page-template-about-template .about .glassbox-videos .image-wrapper:nth-child(2) {
  grid-row: 2;
  grid-column: 3;
}
.page-template-about-template .about .glassbox-videos .image-wrapper:last-child {
  grid-row: 1;
}
.page-template-about-template .about .glassbox-videos .image-wrapper img {
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: relative;
  z-index: 1;
}
.page-template-about-template #tiles {
  display: grid;
  grid-template-rows: repeat(5, minmax(0, 1fr));
  grid-template-columns: repeat(8, minmax(0, 1fr));
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  pointer-events: none;
  z-index: 1;
}
.page-template-about-template #tiles:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(19, 52, 78, 0.425);
}
.page-template-about-template #tiles .tile {
  background: linear-gradient(var(--a), var(--c1) var(--p1), var(--c2) var(--p2));
  animation: tileMorph var(--dur, 6s) ease-in-out infinite alternate;
}
.page-template-about-template #tiles .tile[data-r="0"][data-c="0"] {
  --r: 0;
  --c: 0;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 0deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: 0%;
  --p2-to: 100%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="0"][data-c="1"] {
  --r: 0;
  --c: 1;
  --a-from: 35deg;
  --c1-from: #0a0a0f;
  --c2-from: #055fb4;
  --p1-from: -7%;
  --p2-from: 49.89%;
  --a-to: -34deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: -8.96%;
  --p2-to: 76.18%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="0"][data-c="2"] {
  --r: 0;
  --c: 2;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 12deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: -10.44%;
  --p2-to: 43.45%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="0"][data-c="3"] {
  --r: 0;
  --c: 3;
  --a-from: 327deg;
  --c1-from: #0a0a0f;
  --c2-from: #2c608b;
  --p1-from: 3.98%;
  --p2-from: 90.47%;
  --a-to: 341deg;
  --c1-to: #0a0a0f;
  --c2-to: #2c608b;
  --p1-to: 57.15%;
  --p2-to: 93.93%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="0"][data-c="4"] {
  --r: 0;
  --c: 4;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 0deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: 0%;
  --p2-to: 100%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="0"][data-c="5"] {
  --r: 0;
  --c: 5;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 12deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: -10.44%;
  --p2-to: 43.45%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="0"][data-c="6"] {
  --r: 0;
  --c: 6;
  --a-from: 327deg;
  --c1-from: #0a0a0f;
  --c2-from: #2c608b;
  --p1-from: 3.98%;
  --p2-from: 90.47%;
  --a-to: 341deg;
  --c1-to: #0a0a0f;
  --c2-to: #2c608b;
  --p1-to: 57.15%;
  --p2-to: 93.93%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="0"][data-c="7"] {
  --r: 0;
  --c: 7;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 12deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: -10.44%;
  --p2-to: 43.45%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="1"][data-c="0"] {
  --r: 1;
  --c: 0;
  --a-from: 35deg;
  --c1-from: #0a0a0f;
  --c2-from: #055fb4;
  --p1-from: -7%;
  --p2-from: 49.89%;
  --a-to: 35deg;
  --c1-to: #0a0a0f;
  --c2-to: #055fb4;
  --p1-to: -7%;
  --p2-to: 49.89%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="1"][data-c="1"] {
  --r: 1;
  --c: 1;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 0deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: 0%;
  --p2-to: 100%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="1"][data-c="2"] {
  --r: 1;
  --c: 2;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 0deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: 0%;
  --p2-to: 100%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="1"][data-c="3"] {
  --r: 1;
  --c: 3;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 0deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: 0%;
  --p2-to: 100%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="1"][data-c="4"] {
  --r: 1;
  --c: 4;
  --a-from: 327deg;
  --c1-from: #0a0a0f;
  --c2-from: #2c608b;
  --p1-from: 3.98%;
  --p2-from: 90.47%;
  --a-to: 341deg;
  --c1-to: #0a0a0f;
  --c2-to: #2c608b;
  --p1-to: 57.15%;
  --p2-to: 93.93%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="1"][data-c="5"] {
  --r: 1;
  --c: 5;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 0deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: 0%;
  --p2-to: 100%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="1"][data-c="6"] {
  --r: 1;
  --c: 6;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 0deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: 0%;
  --p2-to: 100%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="1"][data-c="7"] {
  --r: 1;
  --c: 7;
  --a-from: 35deg;
  --c1-from: #0a0a0f;
  --c2-from: #055fb4;
  --p1-from: -7%;
  --p2-from: 49.89%;
  --a-to: -34deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: -8.96%;
  --p2-to: 76.18%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="2"][data-c="0"] {
  --r: 2;
  --c: 0;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 0deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: 0%;
  --p2-to: 100%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="2"][data-c="1"] {
  --r: 2;
  --c: 1;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: -34deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: -8.96%;
  --p2-to: 76.18%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="2"][data-c="2"] {
  --r: 2;
  --c: 2;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 12deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: -10.44%;
  --p2-to: 43.45%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="2"][data-c="3"] {
  --r: 2;
  --c: 3;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 0deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: 0%;
  --p2-to: 100%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="2"][data-c="4"] {
  --r: 2;
  --c: 4;
  --a-from: 327deg;
  --c1-from: #0a0a0f;
  --c2-from: #2c608b;
  --p1-from: 3.98%;
  --p2-from: 90.47%;
  --a-to: 341deg;
  --c1-to: #0a0a0f;
  --c2-to: #2c608b;
  --p1-to: 57.15%;
  --p2-to: 93.93%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="2"][data-c="5"] {
  --r: 2;
  --c: 5;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 0deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: 0%;
  --p2-to: 100%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="2"][data-c="6"] {
  --r: 2;
  --c: 6;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 0deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: 0%;
  --p2-to: 100%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="2"][data-c="7"] {
  --r: 2;
  --c: 7;
  --a-from: 35deg;
  --c1-from: #0a0a0f;
  --c2-from: #055fb4;
  --p1-from: -7%;
  --p2-from: 49.89%;
  --a-to: -34deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: -8.96%;
  --p2-to: 76.18%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="3"][data-c="0"] {
  --r: 3;
  --c: 0;
  --a-from: 327deg;
  --c1-from: #0a0a0f;
  --c2-from: #2c608b;
  --p1-from: 3.98%;
  --p2-from: 90.47%;
  --a-to: 341deg;
  --c1-to: #0a0a0f;
  --c2-to: #2c608b;
  --p1-to: 57.15%;
  --p2-to: 93.93%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="3"][data-c="1"] {
  --r: 3;
  --c: 1;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 12deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: -10.44%;
  --p2-to: 43.45%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="3"][data-c="2"] {
  --r: 3;
  --c: 2;
  --a-from: 35deg;
  --c1-from: #0a0a0f;
  --c2-from: #055fb4;
  --p1-from: -7%;
  --p2-from: 49.89%;
  --a-to: -34deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: -8.96%;
  --p2-to: 76.18%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="3"][data-c="3"] {
  --r: 3;
  --c: 3;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 0deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: 0%;
  --p2-to: 100%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="3"][data-c="4"] {
  --r: 3;
  --c: 4;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 0deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: 0%;
  --p2-to: 100%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="3"][data-c="5"] {
  --r: 3;
  --c: 5;
  --a-from: 35deg;
  --c1-from: #0a0a0f;
  --c2-from: #055fb4;
  --p1-from: -7%;
  --p2-from: 49.89%;
  --a-to: 35deg;
  --c1-to: #0a0a0f;
  --c2-to: #055fb4;
  --p1-to: -7%;
  --p2-to: 49.89%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="3"][data-c="6"] {
  --r: 3;
  --c: 6;
  --a-from: 327deg;
  --c1-from: #0a0a0f;
  --c2-from: #2c608b;
  --p1-from: 3.98%;
  --p2-from: 90.47%;
  --a-to: 327deg;
  --c1-to: #0a0a0f;
  --c2-to: #2c608b;
  --p1-to: 3.98%;
  --p2-to: 90.47%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="3"][data-c="7"] {
  --r: 3;
  --c: 7;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 0deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: 0%;
  --p2-to: 100%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="4"][data-c="0"] {
  --r: 4;
  --c: 0;
  --a-from: 35deg;
  --c1-from: #0a0a0f;
  --c2-from: #055fb4;
  --p1-from: -7%;
  --p2-from: 49.89%;
  --a-to: -34deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: -8.96%;
  --p2-to: 76.18%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="4"][data-c="1"] {
  --r: 4;
  --c: 1;
  --a-from: 35deg;
  --c1-from: #0a0a0f;
  --c2-from: #055fb4;
  --p1-from: -7%;
  --p2-from: 49.89%;
  --a-to: 35deg;
  --c1-to: #0a0a0f;
  --c2-to: #055fb4;
  --p1-to: -7%;
  --p2-to: 49.89%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="4"][data-c="2"] {
  --r: 4;
  --c: 2;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 0deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: 0%;
  --p2-to: 100%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="4"][data-c="3"] {
  --r: 4;
  --c: 3;
  --a-from: 35deg;
  --c1-from: #0a0a0f;
  --c2-from: #055fb4;
  --p1-from: -7%;
  --p2-from: 49.89%;
  --a-to: 35deg;
  --c1-to: #0a0a0f;
  --c2-to: #055fb4;
  --p1-to: -7%;
  --p2-to: 49.89%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="4"][data-c="4"] {
  --r: 4;
  --c: 4;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 0deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: 0%;
  --p2-to: 100%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="4"][data-c="5"] {
  --r: 4;
  --c: 5;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 12deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: -10.44%;
  --p2-to: 43.45%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="4"][data-c="6"] {
  --r: 4;
  --c: 6;
  --a-from: 0deg;
  --c1-from: #0a0a0f;
  --c2-from: #0069cc;
  --p1-from: 0%;
  --p2-from: 100%;
  --a-to: 0deg;
  --c1-to: #0a0a0f;
  --c2-to: #0069cc;
  --p1-to: 0%;
  --p2-to: 100%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}
.page-template-about-template #tiles .tile[data-r="4"][data-c="7"] {
  --r: 4;
  --c: 7;
  --a-from: 327deg;
  --c1-from: #0a0a0f;
  --c2-from: #2c608b;
  --p1-from: 3.98%;
  --p2-from: 90.47%;
  --a-to: 341deg;
  --c1-to: #0a0a0f;
  --c2-to: #2c608b;
  --p1-to: 57.15%;
  --p2-to: 93.93%;
  --a: var(--a-from);
  --c1: var(--c1-from);
  --c2: var(--c2-from);
  --p1: var(--p1-from);
  --p2: var(--p2-from);
  --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
  animation-delay: calc(var(--r) * 0.15s + var(--c) * 0.1s);
}

@keyframes randomMovement {
  0% {
    top: 0;
    left: -60%;
  }
  30% {
    top: 50%;
  }
  80% {
    top: 30%;
  }
  100% {
    top: -40%;
    left: 70%;
  }
}
@keyframes tileMorph {
  0% {
    --a: var(--a-from);
    --c1: var(--c1-from);
    --c2: var(--c2-from);
    --p1: var(--p1-from);
    --p2: var(--p2-from);
  }
  50% {
    --a: var(--a-to);
    --c1: var(--c1-to);
    --c2: var(--c2-to);
    --p1: var(--p1-to);
    --p2: var(--p2-to);
  }
  100% {
    --a: var(--a-from);
    --c1: var(--c1-from);
    --c2: var(--c2-from);
    --p1: var(--p1-from);
    --p2: var(--p2-from);
  }
}/*# sourceMappingURL=style.css.map */