// Add this after your existing @font-face declarations

/* Omer Regular */
@font-face {
    font-family: "Omer";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/omer-Regular.otf") format("opentype");
}

/* Noto Sans - Regular styles */
@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("fonts/NotoSans-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("fonts/NotoSans-ThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("fonts/NotoSans-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("fonts/NotoSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("fonts/NotoSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/NotoSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("fonts/NotoSans-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("fonts/NotoSans-Black.ttf") format("truetype");
}

/* Noto Sans - Italic styles */
@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("fonts/NotoSans-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/NotoSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("fonts/NotoSans-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/NotoSans-SemiBoldItalic.ttf") format("truetype");
}
/* Montserrat - Regular styles */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("fonts/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("fonts/Montserrat-ThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("fonts/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("fonts/Montserrat-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("fonts/Montserrat-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/Montserrat-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("fonts/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("fonts/Montserrat-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("fonts/Montserrat-BlackItalic.ttf") format("truetype");
}
