$main-color: #fff;
// $main-yellow: #ffc93d;
// $dark-blue: #002b51;
// $light-blue: #0b599d;
// $super-light-blue:#E2EFF5;
// $super-light-blue:#ECF8FF;
// $super-light-blue: #e1f1f9;
// $font-color: #000;

$title-font: "Montserrat", sans-serif;
$default-font: "Montserrat", sans-serif;
