$main-color:#005296;
$main-yellow:#FFC93D;
$dark-blue:#002B51;
$light-blue:#0B599D;
// $super-light-blue:#E2EFF5;
// $super-light-blue:#ECF8FF;
$super-light-blue:#e1f1f9;
$font-color: #000;

$title-font: 'Assistant', sans-serif;
$default-font: 'Assistant', sans-serif;