@property --a {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@property --c1 {
    syntax: "<color>";
    initial-value: #0a0a0f;
    inherits: false;
}
@property --c2 {
    syntax: "<color>";
    initial-value: #0069cc;
    inherits: false;
}
@property --p1 {
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: false;
}
@property --p2 {
    syntax: "<percentage>";
    initial-value: 100%;
    inherits: false;
}

$tile-styles: (
    1: (
        a: 0deg,
        c1: #0a0a0f,
        c2: #0069cc,
        p1: 0%,
        p2: 100%
    ),
    2: (
        a: 327deg,
        c1: #0a0a0f,
        c2: #2c608b,
        p1: 3.98%,
        p2: 90.47%
    ),
    3: (
        a: 35deg,
        c1: #0a0a0f,
        c2: #055fb4,
        p1: -7%,
        p2: 49.89%
    ),
    4: (
        a: 12deg,
        c1: #0a0a0f,
        c2: #0069cc,
        p1: -10.44%,
        p2: 43.45%
    ),
    5: (
        a: 341deg,
        c1: #0a0a0f,
        c2: #2c608b,
        p1: 57.15%,
        p2: 93.93%
    ),
    6: (
        a: -34deg,
        c1: #0a0a0f,
        c2: #0069cc,
        p1: -8.96%,
        p2: 76.18%
    )
);

$fixedPattern: (
    (1, 3, 1, 2, 1, 1, 2, 1),
    (3, 1, 1, 1, 2, 1, 1, 3),
    (1, 1, 1, 1, 2, 1, 1, 3),
    (2, 1, 3, 1, 1, 3, 2, 1),
    (3, 3, 1, 3, 1, 1, 1, 2)
);

$transitionedPattern: (
    (1, 6, 4, 5, 1, 4, 5, 4),
    (3, 1, 1, 1, 5, 1, 1, 6),
    (1, 6, 4, 1, 5, 1, 1, 6),
    (5, 4, 6, 1, 1, 3, 2, 1),
    (6, 3, 1, 3, 1, 4, 1, 5)
);

#tiles {
    display: grid;
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-template-columns: repeat(8, minmax(0, 1fr));
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    pointer-events: none;
    z-index: 1;
    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(19, 52, 78, 0.425);
    }
    .tile {
        background: linear-gradient(var(--a), var(--c1) var(--p1), var(--c2) var(--p2));
        animation: tileMorph var(--dur, 6s) ease-in-out infinite alternate;

        @for $r from 0 to 5 {
            @for $c from 0 to 8 {
                $fixed-type: nth(nth($fixedPattern, $r + 1), $c + 1);
                $fixed-styles: map-get($tile-styles, $fixed-type);

                $transitioned-type: nth(nth($transitionedPattern, $r + 1), $c + 1);
                $transitioned-styles: map-get($tile-styles, $transitioned-type);

                &[data-r="#{$r}"][data-c="#{$c}"] {
                    --r: #{$r};
                    --c: #{$c};

                    --a-from: #{map-get($fixed-styles, a)};
                    --c1-from: #{map-get($fixed-styles, c1)};
                    --c2-from: #{map-get($fixed-styles, c2)};
                    --p1-from: #{map-get($fixed-styles, p1)};
                    --p2-from: #{map-get($fixed-styles, p2)};

                    --a-to: #{map-get($transitioned-styles, a)};
                    --c1-to: #{map-get($transitioned-styles, c1)};
                    --c2-to: #{map-get($transitioned-styles, c2)};
                    --p1-to: #{map-get($transitioned-styles, p1)};
                    --p2-to: #{map-get($transitioned-styles, p2)};

                    --a: var(--a-from);
                    --c1: var(--c1-from);
                    --c2: var(--c2-from);
                    --p1: var(--p1-from);
                    --p2: var(--p2-from);

                    --dur: calc(1.5s + (var(--r) + var(--c)) * 0.25s);
                    animation-delay: calc((var(--r) * 0.15s) + (var(--c) * 0.1s));
                }
            }
        }
    }
}
@keyframes tileMorph {
    0% {
        --a: var(--a-from);
        --c1: var(--c1-from);
        --c2: var(--c2-from);
        --p1: var(--p1-from);
        --p2: var(--p2-from);
    }
    50% {
        --a: var(--a-to);
        --c1: var(--c1-to);
        --c2: var(--c2-to);
        --p1: var(--p1-to);
        --p2: var(--p2-to);
    }
    100% {
        --a: var(--a-from);
        --c1: var(--c1-from);
        --c2: var(--c2-from);
        --p1: var(--p1-from);
        --p2: var(--p2-from);
    }
}
